@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 w-full h-full grid place-items-center bg-black bg-opacity-50;
  picture {
    @apply block max-w-[80rem] z-10;
  }
}

.body-scroll {
  @apply pt-[64px];
}
